/* header responsive */
@media screen and (max-width: 576px) {
    .header{
        width: auto;
        margin: 0;
    }
    nav{
        padding: 0 15px;
    }
    .nav-logo h2, .nav-links, .nav-btn{
        display: none;
    }
   .hamburger{
    display: inline;
    font-size: 20px;

   }
}