/* small devices */
@media screen and (max-width: 575.98px) {
    .header{
        width: auto;
        margin: 0;
    }
    nav{
        padding: 12px 15px;
        border-bottom: .1px solid orange;
        margin-top: 0;
    }
    .nav-logo h2, .nav-links, .nav-btn{
        display: none;
    }
   .hamburger{
    display: inline;
    font-size: 20px;
   }
   .banner{
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0 20px;
   }
   .banner-content{
    text-align: center;
   }
   .banner-content h1,.banner-content h2,.banner-content h2 span{
    font-size: 35px;
   }
   .banner-content p{
    font-size: 16px;
   }
   .banner-img img{
    width: 100%;
    height: 100%;
   }
   .marquee{

   }
   .curriculum-section{
    padding: 20px 30px;
   }
   .curriculum-items{
    flex-direction: column;
   }
   
   .left-right-arrow, #card-1{
        display: none;
   }
   .story-section, .curriculum-section{
        padding: 20px 10px;
   }
   .story-section-items{
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       gap: 10px;
       margin: 60px 0;
       width: 100%;
    }
    #card-1{
     display: none;
    }
    .card-desc{
        padding: 20px 10px;
    }
    .card-desc .card-btn button{
        position: absolute;
        top: 120px;
        left: 34px;
    }
    .story-section-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }
    .card-desc .card-btn button{
        position: absolute;
        top: 57%;
        left: 10%;
        font-size: 10px;
    }
   
    #card5-btn button{
        top: 58%;
    }
    .story-section-btn button{
        margin-top: -20px;
        margin-bottom: 15px;
    }
    .footer{
        flex-direction: column;
        padding: 35px 40px;
        width: auto;
    }
    
    .footer-content{
        width: auto;
    }
    .footer-nav h2{
        margin-top: 35px;
        margin-bottom: 15px;
    }
    .footer-nav ul{
        gap: 10px;
    }
    .footer-links h2{
        margin-top: 30px;
    }
}
@media screen and (max-width: 440px) {
    .card-desc .card-btn button{
        position: absolute;
        top: 50%;
        left: 5%;
        padding: 10px;
    }
    
    #card4-btn button{
        top: 45%;
    }
    #card5-btn button{
        top: 52%;
    }
    
}
 @media screen and (max-width: 410px) {
    .card-desc .card-btn button{
        top: 50%;
        left: 5%;
        padding: 10px;
    }
    #card3-btn button{
        top: 45%;
    }
    #card4-btn button{
        top: 40%;
    }
    #card5-btn button{
        top: 52%;
    }
    
}
@media screen and (max-width: 390px) {

    #card2-btn button{
        top: 43%;
    }
    
    #card4-btn button{
        top: 40%;
    }
    #card5-btn button{
        top: 50%;
    }
    
}
@media screen and (max-width: 385px) {

    #card2-btn button{
        top: 43%;
    }
    
    #card4-btn button{
        top: 40%;
    }
    #card5-btn button{
        top: 40%;
    }
    
}
@media screen and (max-width: 380x) {

    #card2-btn button{
        top: 40%;
    }
    
    #card4-btn button{
        top: 40%;
    }
    #card5-btn button{
        top: 40%;
    }
    
}
@media screen and (max-width: 360px) {

    #card2-btn button{
        top: 40%;
    }
    #card3-btn button{
        top:40%;
    }
    
    #card4-btn button{
        top: 35%;
    }
    #card5-btn button{
        top: 43%;
    }
    
}

/* medium devices */
@media screen and (min-width: 576px) and (max-width: 991.98px) {
    .header{
        width: auto;
    }
    nav{
        flex-direction: column;
        gap: 30px;
        justify-content: space-around;
    }
    .banner{
        padding: 0 20px;
        gap: 0;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    .banner-content{
        text-align: center;
        padding: 0 20px;
        margin-top: 20px;
        width: calc(100% - 80px);
    }
    .banner-content h1,.banner-content h2,.banner-content h2 span{
        font-size: 25px;
    }
    .banner-content p{
        font-size: 16px;
    }
    .banner-img img{
        width: 100%;
        height: 100%;
    }
    .curriculum-section{
        padding: 30px 60px;
    }
    .curriculum-items{
        flex-direction: column;
    }
    .left-right-arrow{
        text-align: center;
    }
    .story-section{
        padding: 20px 30px;
    }
    .story-section-items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        margin: 60px 0;
     }
     #card-1{
        grid-row: 2 span;
        grid-column: 2 span;
     }
     .footer{
        flex-direction: column;
        padding: 35px 50px;
        width: auto;
    }
    
    .footer-content{
        width: auto;
    }
    .footer-nav h2{
        margin-top: 35px;
        margin-bottom: 15px;
    }
    .footer-nav ul{
        gap: 10px;
    }
    .footer-links h2{
        margin-top: 30px;
    }
}


@media screen and (min-width: 992px) and (max-width: 1200px){
    .header{
        width: 900px;
        margin: 0 auto;
    }
    .curriculum-section{
        padding: 30px 100px;
    }
    .curriculum-items{
        flex-direction: column;
    }
    .left-right-arrow{
        text-align: center;
    }
    .footer{
        padding: 50px 70px;
        width: auto;
    }
}