*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Quicksand", serif;
}

/* header styles */
.header{
    width: 1024px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.nav-logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-logo img{
    width: 50px;
    margin-right: 7px;
}
.nav-logo h2{
    color: rgb(17, 17, 17);
    font-size: 27px;
    font-weight: 700;
}
.nav-links ul{
    display: flex;
    gap: 25px;
}
.nav-links ul li{
    list-style: none;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.nav-links ul li:first-child a{
    color: rgb(254, 163, 1);
}
.nav-links ul li:nth-child(2) a{
    color: rgb(1, 172, 253);
}
.nav-links ul li:nth-child(3) a{
    color: rgb(5, 212, 223);
}
.nav-links ul li:nth-child(4) a{
    color: rgb(93, 88, 239);
}
.nav-btn button{
    padding: 10px 30px;
    background-color: rgb(254, 163, 1);
    color: #fff;
    font-size: 16px;
    border-radius: 12px;
    border: navajowhite;
    cursor: pointer;
}
.hamburger{
    display: none;
}

/* banner styles */
.banner{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.banner-content h1{
    font-size: 45px;
    font-weight: 700;
    color: rgb(254, 163, 1);
}
.banner-content h2{
    font-weight: 700;
    font-size: 45px;
    color: rgb(17, 17, 17);
}
.banner-content h2 span{
    font-weight: 700;
    font-size: 45px;
    color: rgb(1, 172, 253);
}
.banner-content p{
    font-size: 20px;
    color: rgb(17, 17, 17);
    font-weight: 400;
    margin: 15px 0;
}
.banner-btn{
    background-color: rgb(17, 17, 17);
    color: #fff;
    padding: 10px 30px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 12px;
}
.banner-img img{
    width: 320px;
    height: 370px;
}