*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Quicksand", serif;
}
.none{
    display: none;
}
/* header styles */
.header{
    width: 1024px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.nav-logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-logo img{
    width: 50px;
    margin-right: 7px;
}
.nav-logo h2{
    color: rgb(17, 17, 17);
    font-size: 27px;
    font-weight: 700;
}
.nav-links ul{
    display: flex;
    gap: 25px;
}
.nav-links ul li{
    list-style: none;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.nav-links ul li a:hover{
    text-decoration: underline;
}
.nav-links ul li:first-child a{
    color: rgb(254, 163, 1);
}
.nav-links ul li:nth-child(2) a{
    color: rgb(1, 172, 253);
}
.nav-links ul li:nth-child(3) a{
    color: rgb(5, 212, 223);
}
.nav-links ul li:nth-child(4) a{
    color: rgb(93, 88, 239);
}
.nav-btn button{
    padding: 10px 30px;
    background-color: rgb(254, 163, 1);
    color: #fff;
    font-size: 16px;
    border-radius: 12px;
    border: navajowhite;
    cursor: pointer;
    transition: .3s;
}
.nav-btn button:hover{
    background-color: rgb(172, 230, 105);
    color: black;
}
.hamburger{
    display: none;
}

/* banner styles */
.banner{
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.banner-content h1{
    font-size: 45px;
    font-weight: 700;
    color: rgb(254, 163, 1);
}
.banner-content h2{
    font-weight: 700;
    font-size: 45px;
    color: rgb(17, 17, 17);
}
.banner-content h2 span{
    font-weight: 700;
    font-size: 45px;
    color: rgb(1, 172, 253);
}
.banner-content p{
    font-size: 20px;
    color: rgb(17, 17, 17);
    font-weight: 400;
    margin: 15px 0;
}
.banner-btn{
    background-color: rgb(17, 17, 17);
    color: #fff;
    padding: 10px 30px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 12px;
    transition: .3s;
}
.banner-btn:hover{
    background-color: rgb(211, 97, 97);
}
.banner-img img{
    width: 320px;
    height: 370px;
}
.marquee{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
}

/* curriculum-section styles */
.curriculum-section{
    /* background-image: url(../assets/bg.png);
    padding: 50px 130px;
    display: flex;
    flex-direction: column;
    align-items: center; */

}
.curriculum-section-title{
    text-align: center;
    margin-bottom: 50px;
}
.curriculum-items{
    display: flex;
    gap: 40px;

}
.curriculum-card{
    /* box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 16px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    padding: 35px 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; */


}
.curriculum-card-img{
    padding: 25px 20px;
}
.curriculum-card-img img{
    width: 75px;
}
.curriculum-card-content{
    text-align: center;
}
.curriculum-card-content h2{
    font-family: "Quicksand", serif;
    color: rgb(32, 32, 32);
    font-size: 22px;
    margin: 15px;
    font-weight: 700;
}
.curriculum-card-content{
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}
.card-link{
    font-family: "Quicksand", serif;
    text-align: center;
    margin-top: 15px;
}
.card-link a{
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}
.card-link a:hover{
    text-decoration: underline;
}
.link-1 a{
    color: rgb(100, 200, 255);
}
.link-2 a{
    color: rgb(240, 170, 0);
}
.link-3 a{
    color: rgb(135, 0, 255);
}
.left-right-arrow{
    margin-top: 60px;
}
.left-right-arrow span{
    background-color: rgb(254, 163, 1);
    color: #fff;
    padding: 15px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}
.left-right-arrow span:hover{
    background-color: rgb(101, 214, 224);
}

/* story-section styles */
.story-section{
    background-image: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    padding: 50px 110px;
}

.story-section-title{
    text-align: center;
}
.story-section-title h1{
    font-size: 40px;
    font-weight: 700;
}
.story-section-items{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 15px;
   margin: 60px 0;
}
#card-1{
    grid-row: 2 span;
    grid-column: 2 span;
    position: relative;
} 
#card-1 h2{
    font-size: 22px;
    font-weight: 700;
    margin: 20px 0;
    line-height: 30px;
}
#card-1 p{
    color: rgb(102, 102, 102);
    font-family: Raleway;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}
#card-1 .card-1btn button{
    position: absolute;
    top: 303px;
    left: 40px;
    cursor: pointer;
    background-color: rgb(60, 216, 232);
    transition: .3s;
}
#card-1 .card-1btn button:hover{
    background-color: rgb(254, 163, 1);
}

.story-section-card{
    background-color: #fff;
    border-radius: 15px;
    position: relative;
}
.story-section-card .card-img img{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}
.card-desc{
    padding: 30px;
    margin-top: -4px;
}
.card-desc p{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
}
.card-btn button{
    position: absolute;
    top: 135px;
    left: 34px;
    cursor: pointer;
    padding: 10px;
    border-radius: 40px;
    border: none;
    color: #fff;
}
#card2-btn button{
    background-color: rgb(149, 178, 38);
    transition: .3s;
}
#card2-btn button:hover{
    background-color: rgb(230, 100, 187);
}
#card3-btn button{
    background-color: rgb(93, 88, 240);
    transition: .3s;
}
#card3-btn button:hover{
    background-color: rgb(230, 177, 121);
    color: black;
}
#card4-btn button{
    background-color: rgb(149, 178, 38);
    transition: .3s;
}
#card4-btn button:hover{
    background-color: rgb(230, 100, 187);
}
 #card5-btn button{
    background-color: rgb(149, 178, 38);
    transition: .3s;
 }
 #card5-btn button:hover{
    background-color: rgb(230, 100, 187);
}
.story-section-btn{
    text-align: center;
}

.story-section-btn button{
    background-color: rgb(17, 17, 17);
    color: #fff;
    padding: 10px 35px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 12px;
    transition: .3s;
}
.story-section-btn button:hover{
    background-color: rgb(211, 97, 97);
}

/* footer styles */
.footer{
    /* display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: rgb(1, 172, 253);
    padding: 100px 150px; */
}
.footer-content{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.footer-logo{
    display: flex;
    align-items: center;
}
.footer-logo img{
    width: 70px;
    margin-right: 10px;
}
.footer-logo h1{
    font-size: 30px;
    font-weight: 700;
}
.footer-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}
.footer-nav h2{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-nav ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-nav ul li{
    list-style: none;
}
.footer-nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: .3s;
}
.footer-nav ul li a:hover{
    color: rgb(187, 232, 91);
}
.footer-links h2{
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: 700;
}
.links-img img{
    width: 30px;
    cursor: pointer;
    margin-right: 7px;
}